@charset "UTF-8";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url("../img/main_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: main_img 7s infinite;
}

@keyframes main_img {
  0% {
      background: url("../img/main_1.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }

  20% {
      background: url("../img/main_2.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }

  40% {
      background: url("../img/main_3.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }

  60% {
      background: url("../img/main_4.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }

  80% {
      background: url("../img/main_5.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }

  100% {
      background: url("../img/main_1.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }
}

.content {
  margin-top: 250px;
  margin-bottom: 150px;
  position: relative;
  /* 컨텐츠를 배경 이미지 위에 위치시키기 위해 상대 위치 지정 */
  z-index: 1;
  /* 컨텐츠를 배경 이미지 위에 표시 */
  color: white;
  /* 텍스트 색상을 흰색으로 설정 */
  text-align: center;
  /* 텍스트를 중앙 정렬 */
  padding: 20px;
  /* 내용 주변에 여백 추가 */
  opacity: 0;
  transition: all 2s;
}

.but1,
.but2
{
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  margin: 20px;
}

.shake {
  animation: shake 1s infinite alternate;
}

@keyframes shake {
  0% {
    margin-top: 250px;
  }
  100% {
    margin-top: 257px;
  }
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 70px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
