@charset "UTF-8";

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background: url('../img/main_img11.jpg') no-repeat center center fixed;
    background-size: cover;
}

.dialog-box {
    background: #282524;
    border: 8px solid #e0dede;
    border-radius: 10px;
    margin: 20px;
    top: 65%;
    height: 30%;
    opacity: 0.8;
    color: white;
    position: relative;
    overflow: hidden;
}

#dialog-text {
    color: white;
    font-size: 30px;
    margin: 0 10px;
    display: inline-block;
    white-space: pre-wrap;
    overflow: hidden;
    animation: typing 20s steps(50) forwards;
}
