@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: "DotGothic16", sans-serif;
    font-weight: 500;
    font-style: normal;
    overflow: hidden;
}

.body {
    background-image: url("../img/main_1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}